Source: fizzbuzz-rest
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Jerome Bourgeois <melkor666free@gmail.com>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any,
               golang-github-gorilla-mux-dev,
               golang-github-spf13-pflag-dev,
               golang-github-stretchr-testify-dev,
               golang-logrus-dev
Standards-Version: 4.2.1
Homepage: https://github.com/melkor/fizzbuzz-rest
Vcs-Browser: https://salsa.debian.org/go-team/packages/fizzbuzz-rest
Vcs-Git: https://salsa.debian.org/go-team/packages/fizzbuzz-rest.git
XS-Go-Import-Path: github.com/melkor/fizzbuzz-rest
Testsuite: autopkgtest-pkg-go

Package: fizzbuzz-rest
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: fizzbuzz rest in go
 fizzbuzz-rest is a simple web server that will expose a REST API endpoint that: accepts five parameters : three integers int1, int2 and limit, and two strings str1 and str2. Returns a list of strings with numbers from 1 to limit, where: all multiples of int1 are replaced by str1, all multiples of int2 are replaced by str2, all multiples of int1 and int2 are replaced by str1str2.
